Repository FlashMCP/FlashMCP, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, example, tests, component: HTTP, component: client, contrib, component: openapi

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

example:
  - changed-files:
      - any-glob-to-any-file:
          - "examples/**"

tests:
  - changed-files:
      - any-glob-to-any-file: "tests/**"

"component: HTTP":
  - changed-files:
      - any-glob-to-any-file: "src/FlashMCP/server/http.py"

"component: client":
  - changed-files:
      - any-glob-to-any-file: "src/FlashMCP/client/**"

"contrib":
  - changed-files:
      - any-glob-to-any-file: "src/FlashMCP/contrib/**"

"component: openapi":
  - changed-files:
      - any-glob-to-any-file:
          - "src/**/*openapi*.py"

Avoid hanging on initialize
  src/flashmcp/client/client.py
Labels: none

Remove extra initialize
  src/flashmcp/client/client.py
Labels: none

Trap timeouterror
  src/flashmcp/client/client.py
Labels: none

Remove customizable separators; improve resource separator
  docs/servers/composition.mdx
  src/flashmcp/server/server.py
  tests/deprecated/__init__.py
  tests/deprecated/test_deprecated.py
  tests/deprecated/test_mount_separators.py
  tests/server/test_import_server.py
  tests/server/test_mount.py
  tests/server/test_openapi.py
  tests/server/test_server.py
Labels: documentation, tests

Update server.py
  src/flashmcp/server/server.py
Labels: none

Support creating clients from mcpconfig
  src/flashmcp/client/client.py
  src/flashmcp/client/transports.py
  src/flashmcp/server/proxy.py
  src/flashmcp/server/server.py
  src/flashmcp/utilities/exceptions.py
  src/flashmcp/utilities/mcp_config.py
  tests/client/test_client.py
  tests/utilities/test_mcp_config.py
Labels: tests

Compile URI pattern
  src/flashmcp/server/server.py
Labels: none

Add documentation for config-based clients
  docs/clients/advanced-features.mdx
  docs/clients/client.mdx
  docs/clients/transports.mdx
  docs/docs.json
  docs/servers/composition.mdx
  docs/servers/proxy.mdx
  src/flashmcp/client/transports.py
Labels: documentation

Clean up
  README.md
  docs/clients/client.mdx
  docs/clients/transports.mdx
  src/flashmcp/utilities/exceptions.py
Labels: documentation

Docs cleanup
  docs/clients/client.mdx
  docs/servers/proxy.mdx
Labels: documentation

Make resource prefix format configurable
  docs/servers/composition.mdx
  src/flashmcp/server/server.py
  src/flashmcp/settings.py
  tests/deprecated/test_resource_prefixes.py
  tests/server/test_resource_prefix_formats.py
Labels: documentation, tests

Update composition.mdx
  docs/servers/composition.mdx
Labels: documentation

Update improts
  docs/servers/composition.mdx
Labels: documentation

Add version bad for prefix formats
  docs/servers/composition.mdx
Labels: documentation

feat: support FastMCP v1 server transport
  docs/clients/client.mdx
  docs/clients/transports.mdx
  src/flashmcp/client/transports.py
  tests/client/test_client.py
Labels: documentation, tests

feat: Auto-deserialize JSON string args for prompts
  src/flashmcp/prompts/prompt.py
  tests/prompts/test_prompt.py
Labels: tests

also rules
  .cursor/rules/debug.mdc
  .cursor/rules/mre.mdc
Labels: none

Update README.md
  README.md
Labels: none

Add Documentation Context
  README.md
Labels: none
