Repository FlashMCP/FlashMCP, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, example, tests, component: HTTP, component: client, contrib, component: openapi

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

example:
  - changed-files:
      - any-glob-to-any-file:
          - "examples/**"

tests:
  - changed-files:
      - any-glob-to-any-file: "tests/**"

"component: HTTP":
  - changed-files:
      - any-glob-to-any-file: "src/FlashMCP/server/http.py"

"component: client":
  - changed-files:
      - any-glob-to-any-file: "src/FlashMCP/client/**"

"contrib":
  - changed-files:
      - any-glob-to-any-file: "src/FlashMCP/contrib/**"

"component: openapi":
  - changed-files:
      - any-glob-to-any-file:
          - "src/**/*openapi*.py"

Store server instance as fastmcp_server
  docs/deployment/asgi.mdx
  src/flashmcp/server/http.py
  tests/server/test_app_state.py
Labels: documentation, tests

Fix static checks
  tests/server/test_app_state.py
Labels: tests

Add as_proxy improvements and tests
  README.md
  docs/servers/composition.mdx
  docs/servers/flashmcp.mdx
  docs/servers/proxy.mdx
  examples/in_memory_proxy_example.py
  src/flashmcp/server/server.py
  tests/server/test_import_server.py
  tests/server/test_mount.py
  tests/server/test_proxy.py
  tests/test_deprecated.py
Labels: documentation, example, tests

Fix import
  src/flashmcp/server/server.py
Labels: none

fastmcp run works with remote servers
  docs/deployment/cli.mdx
  src/flashmcp/cli/cli.py
  src/flashmcp/cli/run.py
  src/flashmcp/server/http.py
  src/flashmcp/server/server.py
Labels: documentation

Update cli.mdx
  docs/deployment/cli.mdx
Labels: documentation

Update tests
  src/flashmcp/server/server.py
  tests/cli/test_cli.py
  tests/cli/test_run.py
Labels: tests

Update AGENTS with repo overview
  AGENTS.md
Labels: none

Update AGENTS.md
  AGENTS.md
Labels: none

Skipping permission test error if the user has root privileges
  tests/resources/test_file_resources.py
Labels: tests

Reformatting, and adding copilot's suggestion
  tests/resources/test_file_resources.py
Labels: tests

Fixed formatting again
  tests/resources/test_file_resources.py
Labels: tests

Removed trailing whitespace
  tests/resources/test_file_resources.py
Labels: tests

more permission uvicorn config
  src/flashmcp/server/server.py
Labels: none

add tests
  tests/server/test_logging.py
Labels: tests

take one suggestion
  src/flashmcp/server/server.py
Labels: none

update deprecation
  tests/server/test_proxy.py
Labels: tests

try to fix test
  tests/server/test_proxy.py
Labels: tests

try one more thing
  src/flashmcp/server/server.py
Labels: none

Store the initialize result on the client
  src/flashmcp/client/client.py
  src/flashmcp/client/transports.py
  tests/client/test_client.py
  tests/server/test_server_interactions.py
Labels: tests

Infer sse transport from url
  docs/clients/transports.mdx
  src/flashmcp/client/transports.py
  tests/client/test_client.py
Labels: documentation, tests

Add progress handler to client
  docs/clients/client.mdx
  src/flashmcp/client/client.py
  src/flashmcp/client/logging.py
  src/flashmcp/client/progress.py
  src/flashmcp/client/transports.py
  tests/client/test_progress.py
Labels: documentation, tests

Flaky test
  tests/client/test_client.py
Labels: tests

Skip timeout tests on windows
  tests/client/test_client.py
  tests/client/test_sse.py
  tests/client/test_streamable_http.py
Labels: tests

Fix typing
  src/flashmcp/client/transports.py
  tests/client/test_progress.py
Labels: tests

Update release numbers for anticipated version
  docs/deployment/cli.mdx
  src/flashmcp/server/server.py
Labels: documentation

TestClient
  examples/chat_with_server.py
  pyproject.toml
  src/flashmcp/testing.py
  uv.lock
Labels: example

Add request id back to tests
  tests/server/test_server_interactions.py
Labels: tests

Improve client documentation
  docs/clients/client.mdx
  docs/clients/features.mdx
  docs/docs.json
  src/flashmcp/client/client.py
  src/flashmcp/client/logging.py
  tests/client/test_logs.py
Labels: documentation, tests

Ensure openapi path params are handled properly
  src/flashmcp/server/openapi.py
  tests/server/test_openapi_array_params.py
  tests/server/test_openapi_path_parameters.py
Labels: tests, component: openapi

Unify openapi 3.0 and 3.1 parsing
  src/flashmcp/server/openapi.py
  src/flashmcp/utilities/openapi.py
  tests/server/test_openapi_path_parameters.py
Labels: tests, component: openapi

Update tests
  src/flashmcp/server/openapi.py
  tests/server/test_openapi_array_params.py
  tests/server/test_openapi_path_parameters.py
Labels: tests, component: openapi

Allow * Methods and all routes as tools shortcuts
  docs/patterns/openapi.mdx
  src/flashmcp/server/openapi.py
  src/flashmcp/server/server.py
  tests/server/test_openapi.py
Labels: documentation, tests, component: openapi

integration tests and better error
  integration_tests/test_repro_518_output.py
  src/flashmcp/server/http.py
Labels: none

Improved support for config dicts
  src/flashmcp/client/mcp_config.py
  src/flashmcp/client/transports.py
Labels: none

rm slop markers
  integration_tests/test_repro_518_output.py
  src/flashmcp/utilities/tests.py
  tests/contrib/test_bulk_tool_caller.py
  tests/server/test_auth_integration.py
  tests/server/test_http_middleware.py
  tests/server/test_lifespan.py
  tests/server/test_openapi_path_parameters.py
  tests/test_deprecated.py
  tests/test_examples.py
Labels: tests

take suggestion
  src/flashmcp/server/http.py
Labels: none

Formalize MCP Config
  src/flashmcp/client/mcp_config.py
  src/flashmcp/client/transports.py
  src/flashmcp/server/proxy.py
  src/flashmcp/utilities/mcp_config.py
  tests/utilities/test_mcp_config.py
Labels: tests

Add config inference test
  tests/client/test_client.py
Labels: tests

Update transports.py
  src/flashmcp/client/transports.py
Labels: none
